
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, brown 10%, burlywood);
    font-family: Arial, sans-serif;
}


.container{
    background-color: burlywood;
    padding-top: 28px;
    width: 40%;
    text-align: center;
    height: 50vh;
    border-radius: 40px;
    box-shadow: 5px , 5px ,4px black;
    

}


input{
    padding: 10px; 
    width: 57%;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    border: 1px solid black;
}


button{
    background-color:rgb(218, 123, 8);
    color:white ;
    border: none;
    border-radius: 10px;
    padding: 11px;
    width: 55%;
    font-size: 15px;
}







